<%= form_for(@article) do |f| %>

<%  errors_helper(@article) %>

  <div class="form-group row">
        <%= f.label :name,"Article Name",:class=> "col-sm-2 col-form-label" %><br />
        <div class="col-sm-10">
                <%= f.text_field :name , :class=>"form-control" %>
        </div>
   </div>

      <div class="form-group row">
            <%= f.label :visible,"Visibility",:class=> "col-sm-2 col-form-label" %><br/>
        <div class="col-sm-10">
          <div class="form-check">
            <%= f.check_box :visible , :class=>"form-check-input" %>
          </div>
        </div>
      </div>

       <div class="form-group row">
            <%= f.label :category_id,"Category",:class=> "col-sm-2 col-form-label" %><br/>
                    <div class="col-sm-10">
                    <%= f.select :category_id,@categories.map{|t| [t.name,t.id]},{},{:class=>"form-control"} %>
                </div>
       </div>

    <div class="form-group row">
        <%= f.label :content,"Content",:class=> "col-sm-2 col-form-label" %><br />
        <div class="col-sm-10">
                <%= f.text_area :content , :class=>"form-control" %>
        </div>
   </div>
     
     
      <div class="form-group row">
        <div class="col-sm-10">
         <%= f.submit :class=>"btn btn-primary" %>
        </div>
      </div>


<% end %>