     <!-- Blog Post -->
     <div class="card mb-4">

        <% !if @article.image.file? %>
        <%= image_tag(@article.image.url(:medium), :class=>"card-img-top")  %>
        <% else %>
        <% end %>
      
        <div class="card-body">
          <h2 class="card-title"> <%= @article.name %> </h2>
          <p class="card-text"><%= @article.content.html_safe %></p>
        </div>
        <div class="card-footer text-muted">
          Posted on <%= @article.created_at %>
        </div>
      </div>
      
      <h3>Comments</h3>


      <% if user_signed_in? %>

<%= form_for [@article, Comment.new] do |f| %>
<%= f.text_area :content,:class=>"form-control", placeholder: "Add a comment" %><br/>
<%= f.submit "Add Comment", :class=>"btn btn-primary" %>
<% end %>

<%  end %>

<div class="comments">
<%= render(partial: 'comments/comment', collection: @article.comments) %>
</div>