  <!-- Page Content -->

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <% @articles.each do |article| %>

         <!-- Blog Post -->
         <div class="card mb-4">

          <% !if article.image.file? %>
          <%= image_tag(article.image.url(:medium), :class=>"card-img-top")  %>
          <% else %>
          <% end %>
        
          <div class="card-body">
            <h2 class="card-title"> <%= article.name %> </h2>
            <p class="card-text"><%= truncate(strip_tags(article.content.html_safe),:length=>200) %></p>
            <%= link_to "Read More",{ controller: "/articles", action: "show",:id=>article.id },:class=>"btn btn-primary" %>
          </div>
          <div class="card-footer text-muted">
            Posted on <%= article.created_at %>
          </div>
        </div>
        
        <% end %>
      </div>


<%= render  "side" %>

    </div>
    <!-- /.row -->

