<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="vieport" content="width=device-width,initial-scale=1.0">
  </head>

  <body>

  <!-- navigation bar -->
  <%= render  "shared/header" %>

  <!-- alerts  -->
  <%= render  "shared/alerts" %>
      
  <!-- content  -->
  <div class="container">
    <%= yield %>
  </div>

  <!-- footer  -->
  <%= render  "shared/footer" %>

  </body>
</html>
